.RegionFilter {
  min-height: 56px;
  min-width: 200px;
  background-color: white;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  font: inherit;
  position: relative;
  display: flex;
  padding: 0 10px;
}

.RegionFilter:hover {
  cursor: pointer;
}
